* {
  box-sizing: border-box;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 75px;
  font-weight: bold;
}

div {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background-color: #A9A9A9;
  margin: 0 25px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

div:hover {
  background-color: white;
  color: #A9A9A9;
  border: 2px solid #A9A9A9;
}

input {
  border: 6px solid #A9A9A9;
  border-radius: 6px;
  width: 150px;
  height: 100px;
  font-size: 50px;
  text-align: center;
}

input:focus {
  outline: 0;
}

span {
  font-size: 50px;
  margin: 0;
}